<html>
    <header>
        <title>contacts</title>
        <link rel="stylesheet" href="/styles.css">
    </header>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="about">
           <h2>About Contacts Saver</h2>
                <p>Welcome to Contacts Saver, a simple yet powerful platform designed to help you manage your contacts easily. Whether you're organizing your personal contact list or managing your professional connections, we provide a seamless solution to store, retrieve, and even restore your contacts when necessary.</p>
                <p>Our mission is to create a user-friendly tool that allows individuals and businesses to keep their contacts safe and accessible anytime, anywhere. We believe that organizing contacts shouldn't be a hassle and should work intuitively with a simple interface.</p>
            <h3>Why Choose Contacts Saver?</h3>
            <p>Contacts Saver offers various features that make managing your contacts a breeze:</p>
                <ul>
                    <li>Effortless contact management and categorization.</li>
                    <li>Easy addition of new contacts with multiple fields.</li>
                    <li>Quick search to find your contacts instantly.</li>
                    <li>Ability to restore deleted contacts.</li>
                </ul>

            <h3>Meet the founder of website</h3>
            <div class="team">
                <img src="/myimage.jpg" >
                <h3>Muthuraman</h3>
            </div>
        </div>
    </body>
</html>