<html>
    <header>
        <title>contacts</title>
        <link rel="stylesheet" href="/styles.css">
    </header>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="help">
            <h2>Help & Support</h2>

            <h3>Frequently Asked Questions (FAQs)</h3>
            <ul>
              <li><strong>Q: How do I add a new contact?</strong><br>
                  A: To add a new contact, click on the "New Contact" option in the menu. Fill out the required fields and click the "Save" button.</li>
              <li><strong>Q: How do I search for a contact?</strong><br>
                  A: You can search for contacts using the search bar at the top of the page. Simply type the name of the contact and hit "Search".</li>
              <li><strong>Q: Can I delete a contact?</strong><br>
                  A: Yes, you can delete a contact by selecting the contact and clicking the "Delete" option. Deleted contacts can be recovered from the "Deleted Contacts" section.</li>
              <li><strong>Q: Can I recover deleted contacts?</strong><br>
                  A: Yes, go to the "Deleted Contacts" section to recover any deleted contacts. Simply click on the contact and choose "Restore".</li>
            </ul>
        </div>
    </body>
</html>