<nav>
    <div class="site-title">
        <a href="/"><h1>Contacts Saver</h1></a>
        <p>Contatcts site</p>
      </div>
      <ul>
        <li><a href="/">contacts</a></li>
        <li><a href="/create">new contact</a></li>
        <li><a href="/backup">deleted contacts</a></li>
      </ul>
</nav>